/* GENERAL PAGE LAYOUT*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background-color: #222222;
  color: #ffffff;
}

.page {
  display: grid;
  grid-template-columns: 260px 1fr;
  min-height: 100vh;
}

/* SIDENAV */

.sidenav {
  background-color: #161618;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

/* Title */
.logo {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}

/* Subtitle */
.subtitle {
  font-weight: 100;
  margin-top: 10px;
  font-size: 16px;
  color: #9b9b9b;
  margin-bottom: 32px;
}

/* LIST */

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.nav-list li {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 10px 12px;
  border-radius: 10px;

  font-size: 16px;
  color: #c7c7c7;
  cursor: pointer;

  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

/* ICONS*/
.nav-list svg {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

/* Fill icons */
.nav-list svg {
  fill: currentColor;
}

/* HOVERSTATE */
.nav-list li:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
}

.nav-list li.active {
  background-color: rgba(255, 255, 255, 0.08);
  color: #ffffff;
}

/* MAIN CONTENT */
.content {
  padding: 32px;
}

/* MOBILE RESPONSIVE */

@media (max-width: 768px) {
  .page {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .sidenav {
    padding: 16px;
  }

  .nav-list {
    flex-direction: row;
    gap: 16px;
  }
}

a:focus-visible {
  outline: 3px solid #6d5dfc;
  outline-offset: 4px;
}
