---
import Layout from "../layouts/Layout.astro";
import Sidenav from "../components/Sidenav.astro";
import SearchBar from "../components/SearchBar.astro";
import AlbumCard from "../components/AlbumCard.astro";
---

<Layout title="My Collection">

  <!-- LEFT COLUMN -->
  <Sidenav slot="sidenav" active="collection" />

  <!-- RIGHT COLUMN -->
  <main slot="content" class="content">
    <section class="content-body">

      <header class="content-header">
        <SearchBar placeholder="Search my Collection..." />
      </header>

      <div class="album-grid">
        <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
          <AlbumCard
          title="Eternal Sunshine (Deluxe)"
          artist="Ariana Grande"
          cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
        />

        <AlbumCard
          title="Rumours"
          artist="Fleetwood Mac"
          cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
        />
      </div>

    </section>
  </main>

</Layout>
