---
/* Search for music page */

import Layout from "../layouts/Layout.astro";
import Sidenav from "../components/Sidenav.astro";
import SearchBar from "../components/SearchBar.astro";
---

<Layout title="Search Music">
  <Sidenav active="search" /> 

  <main class="content">  <!-- Main is where the search bar and album covers will live, its the second column -->

    <SearchBar placeholder= "Search for Records ..." />
   
  </main>
</Layout>