---
/* Stats Page */

import Layout from "../layouts/Layout.astro";
import Sidenav from "../components/Sidenav.astro";
---

<Layout title="Stats">
  <Sidenav active="stats" /> 

  <main class="content">  <!-- Main is where the search bar and album covers will live, its the second column -->

   
  </main>
</Layout>