---
import "../style/global.css";

const { title = "My Record Shelf" } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>

  <body>
    <div class="page">
  <slot name="sidenav" />
  <slot name="content" />
</div>

  </body>
</html>